 <div class="page-header">
              <h1 id="tables">Fase de grupos</h1>
            </div>
            <%= form_for :quiniela do |f| %>
              
               <% if false
                @var1 =  ''
                @matches.each do |match| %>
             
                <% 
              
                if match.match_date.strftime("%m/%d") != @var1 %>

                <h4>Fecha: <%= match.match_date.to_formatted_s(:short) %> - Grupo: <%= match.team1.group %></h4>
                 
               <% end 
                    @var1 = match.match_date.strftime("%m/%d")
                    @count = 0
                 %> 

<table class="table table-striped table-hover">
              <tbody>
              
                <tr>
                  <td><span class="flagsp flagsp_<%= match.team1.code %>" title=""> </span></td>
                  <td class="col-ajust"><%= match.team1.name %></td>
                  <td class="centered"><input type="text" name="score_t1[<%= @count %>]" id="score_t1_<%= @count %>"/>-<input type="text" name="score_t2[<%= @count %>]" id="score_t2_<%= @count %>"/></td>
                  <td class="rigth-align col-ajust"><%= match.team2.name %></td>
                   <td class="rigth-align"> <span class="flagsp flagsp_<%= match.team2.code %>" title=""> </span></td>
                  
                </tr> 

              </tbody>
            </table>
              <% end %>
              <% end %>

              <%= f.fields_for :bets do |builder| %>
                <%= render "bets_fields", :f => builder %>
              <% end %>
<p>
    <%= f.submit %>
  </p>

              <% end %>
