 <div class="page-header">
              <h1 id="tables">Mis quinielas</h1>
            </div>



<% if @quinielas.count > 0 %>

<% if @can_create_quiniela %>
<p class="lead welcome-message">¿Quieres crear otra quiniela? multiplica la diversión</p>
<p style="text-align:center;margin-bottom:20px;"><a href="/quinielas/new" class="btn btn-primary">CREAR QUINIELA</a></p>
<% else %>
<p class="lead welcome-message ">El torneo ya ha comenzado. ¡MUCHA SUERTE!</p>
<% end %>

<table class="table table-striped table-hover ranking-table" style="
    font-size: 15pt;
    font-style: italic;
    margin: 0;
">
              <tr>
                  
                  <td>Nombre</td>
                  <td>Puntos</td>
                  <td colspan="1"></td>
                </tr> 
           
            <%
     
                @var1 =  ''
                @quinielas.each do |quiniela| %>
             
                <tr>
                  <td valign="middle"><span class="stuart-middle"><%= quiniela.name %></span></td>
                  <td><span class="stuart-middle"><%= quiniela.points ? quiniela.points : 0 %></span></td>
                  <td>

                    <a  href="/quinielas/showro/<%= quiniela.id %>" class="btn btn-success quini-class">Ver</a>
                    <a  href="/compare/<%= quiniela.id %>" class="btn btn-info quini-class">Comparar</a>
                    <a  href="/quinielas/<%= quiniela.id %>/edit" class="btn btn-primary quini-class">Editar</a>
                    <% if @can_create_quiniela %>
                    <a href="/quinielas/<%= quiniela.id %>/delete" class="btn btn-danger quini-class">Eliminar</a>
                    <% end %>
                  
                    </td>
                  
                  
                </tr> 
<% end 

  %>
                          
            </table>

      <% 
else
  %>

  <% if @can_create_quiniela %>
<p class="lead welcome-message">¿Aún no comienzas? Crea tu primera quiniela ahora </p>
<p style="text-align:center;"><a href="/quinielas/new" class="btn btn-success btn-lg">CREAR QUINIELA</a></p>


<% else %>
<p class="lead welcome-message ">El torneo ya ha comenzado. ¡MUCHA SUERTE!</p>
<% end %>
<div class="col-sm-12 col-lg-12" style="
    text-align: center;
"><span class="fuleco4"></span></div>


  <%
 end%>
