 <div id="round1" class="page-header">
              <h1 id="tables">Resultados: Fase de grupos</h1>
            </div>
            
              
               <%
                @var1 =  ''
                
                @matches.each do |match|
                    @played = false
                    @winner_id = match.winner_id
                  if match.played == 1 
                    @played = true
                  end 
                
              
                if match.match_date.strftime("%m/%d") != @var1 %>
                
                <% if match.id==49  or  match.id==57 or  match.id==61 or  match.id==63 or  match.id==64 %>
                <h2 
<% if match.id==49 %>
id="round2"
                <% end %>

                style="margin-top:90px;margin-bottom:20px;"><%= match.round.name %></h2>
                <% end %>
                


                <h4>Fecha: <%= match.match_date.to_formatted_s(:short) %> 
                </h4>
                 
               <% end 
                    @var1 = match.match_date.strftime("%m/%d")
                 %> 

<table class="table table-striped table-hover 
<% if @played %>
game-over
<% end%>

 ">
              <tbody>
              
                <tr>
                  <td style="position:relative;">
                    <% if match.round.id == 1 %>
<a href="/compare/compare_by_bet/<%= match.id %>" style="
    position: absolute;
    left: -30px;
    top: 6px;
" title="Predicciones de los usuarios"><img src="https://cdn0.iconfinder.com/data/icons/16x16-free-toolbar-icons/16/11.png"></a>
<%end%>
<span class="flagsp flagsp_<%= match.team1.code %>" title=""> </span></td>
                  <td class="col-ajust">
                    <% if @winner_id == match.team1_id%>
                    <img width="20px" src="https://cdn4.iconfinder.com/data/icons/48x48-free-object-icons/48/Entertainment.png">
                    <% end %>
                    
                    <%= match.team1.name %>
                  </td>
                  <td class="centered">
<% if @played %>
                    <table>
                      <tbody><tr><td><%= match.score_t1 %></td>
                      <td><div class="form-separator">-</div></td>
                      <td><%= match.score_t2 %></td></tr>
                    </tbody></table>
 
<% else%>
<%= match.match_date.to_formatted_s(:time) %>
<% end%>
                 

                  </td>
                  <td class="rigth-align col-ajust">
                     <% if @winner_id == match.team2_id%>
                    <img width="20px" src="https://cdn4.iconfinder.com/data/icons/48x48-free-object-icons/48/Entertainment.png">
                    <% end %>
                    <%= match.team2.name %>
                  </td>
                   <td class="rigth-align"> <span class="flagsp flagsp_<%= match.team2.code %>" title=""> </span></td>
                  
                </tr> 

              </tbody>
            </table>
              <% end %>

