<div class="separator-top"></div>
<div class="container">

<% if @session %>


<div class="bs-docs-section">

        <div class="row">
          <div class="col-sm-12 col-lg-12" style="margin-top: 70px;">
           

             <div class="col-sm-6 col-lg-6">
              <h1 id="tables" style="margin-top: 5px;">Ranking general</h1>
            </div>
            <div class="col-sm-6 col-lg-6">
              <div class="btn-group" style="float: right;margin-right: 21px;">
                <a href="/ranking" class="btn btn-primary">General</a>
                <a href="/firstRound" class="btn btn-info">1ra fase</a>
                <a href="/roundOf16" class="btn btn-info">2da fase</a>
              </div>
            </div>

<table class="table table-striped table-hover ranking-table respon2" style="float: left;margin-top: 10px;">
  <tr>
                  <td>Posición</td>
                  <td>Nombre</td>
                  <td>Puntos</td>
                  <td>Dif</td>
                </tr>  
                <% 
                @counter = 1
                @quinielas.each do |quiniela|
                if @counter == 1
                  @first_count = quiniela.points
                end

                if quiniela.id != 17
                 %>
                  <tr>
                  <td>#<%=@counter%></td>
                  <td><a href="/compare/<%= quiniela.id %>"><%=quiniela.name%></a></td>
                  <td><%=quiniela.points%></td>
                  <td style="color:rgb(213, 94, 94);">
                    <% if @first_count == quiniela.points %>
                    <span style="color:#666;">-</span>
                    <% else %>      
                      -<%= @first_count - quiniela.points %>
                    <%end%>
                  </td>
                </tr>  
                
                <% 
              end
                @counter = @counter + 1
                end %>

                </table>         

            <table class="table table-striped table-hover ranking-table respon">
            	<tr>
                  <td>Posición</td>
                  <td colspan="2">Usuario</td>
                  <td style="width: 395px;">Nombre de quiniela</td>
                  <td>Puntos acumulados</td>
<td>Diferencia</td>
                </tr> 
           
            <%
                @var1 =  ''
                @primero = '100px'
                @segundo = '80px'
                @tercero = '60px'
                @left = '40px'
                @counter = 1
		@first_count = 0;
                @quinielas.each do |quiniela| 
                    if @counter == 1
                      @var1 = @primero
                      @fontsize = 'font-size: 20pt;'
			@first_count = quiniela.points
                    end
                    if @counter == 2
                       @var1 = @segundo
                       @fontsize = 'font-size: 18pt;'
                    end
                    if @counter == 3
                       @var1 = @tercero
                       @fontsize = 'font-size: 16pt;'
                    end
                    if @counter > 3
                       @var1 = @left
                       @fontsize = 'font-size: 14pt;'
                    end
                     if quiniela.id != 17
                  %>
             
                <tr style="<%=@fontsize%>

<% if quiniela.user.id == current_user.id %>
border: solid 3px #18bc9c;
border-radius: 5px;
background: white;
<%end%>
">
                  <td><span class="stuart-middle">#<%= @counter %></span></td>
                  <td><img style="width:<%=@var1%>" src="<%= quiniela.user.photo.url %>"></td>
                  <td><span class="stuart-middle">
<% if quiniela.user.name.empty? %>
                <%=quiniela.user.email.split(/@/)[0] %>
 <% else %>
            <%=quiniela.user.name %>
 <% end %>
</span></td>
                  <td><span class="stuart-middle"><a href="/compare/<%= quiniela.id %>"><%= quiniela.name %></a></span></td>
                  <td><span class="stuart-middle"><%= quiniela.points ? quiniela.points : 0 %></span></td>
			<td style="text-align:center;color:rgb(213, 94, 94);">

			<span class="stuart-middle">
<% if @first_count == quiniela.points %>
<span style="color:#666;">-</span>
<% else %>			
	-<%= @first_count - quiniela.points %>
<%end%>
</span>

			</td>
                </tr> 

               
 <%
end
 @counter = @counter + 1 
 end %>
                           

            </table>
          </div>

          
        </div>
      </div>



<% else %>


<div class="bs-docs-section">
        <div class="row">
          <div class="col-sm-12 col-lg-12">
            <div class="page-header">
              <h1 id="forms">¡Entra ahora y danos tus predicciones!</h1>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 col-lg-6">
            <div class="well">
              

              <%= render "user_sessions/new_login", :target => @user_session %>


            </div>
          </div>


          <div class="col-sm-6 col-lg-6">
            
            <div class="bs-example">
              <div class="jumbotron">
                <h2>¿Aun no te registras?</h2>
                <p><a href="/signup" class="btn btn-warning btn-lg">¡REGISTRARME!</a></p>
              </div>
            </div>
          </div>
  
        </div>
      </div>



<% end %>




</div>


