<div class="separator-top"></div>
<%= render :partial => 'edit_matches', :locals => {:matches => @matches, :title => 'Editar Fase de grupos', :round_id => 1}  %>
<%= render :partial => 'edit_matches', :locals => {:matches => @matches_round_oct, :title => 'Editar Octavos de final', :round_id => 2} %>
<%= render :partial => 'edit_matches', :locals => {:matches => @matches_round_cua, :title => 'Editar Cuartos de final', :round_id => 3} %>
<%= render :partial => 'edit_matches', :locals => {:matches => @matches_round_sem, :title => 'Editar Semi final', :round_id => 4} %>
<%= render :partial => 'edit_matches', :locals => {:matches => @matches_round_3er, :title => 'Editar 3er Lugar', :round_id => 5} %>
<%= render :partial => 'edit_matches', :locals => {:matches => @matches_round_fin, :title => 'Editar Final', :round_id => 6} %>

